.App {
  text-align: center;
  background-color: rgb(173, 173, 173);
}

h1 {
  margin: 0;
  font-size: 40px;
}

.all-contacts {
  margin-top: 50px;
}

table {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 5px;
  border-style: solid;
  color: #000000;
}

td,
th {
  border-width: 5px;
  border-color: #4f4f4f;
  border-style: solid;
  padding: 5px;
}

thead {
  background-color: #bababa;
}

.link {
  text-decoration: none;
  color: inherit;
  padding: 10px;
}

.link:hover {
  color: rgb(156, 156, 156);
}

.nav {
  display: flex;
  justify-content: flex-end;
  background-color: #717171;
}

.nav-item {
  display: flex;
  border: solid 2px;
  border-radius: 10px;
  box-shadow: rgb(75, 75, 75) 3px 3px;
  margin: 5px;
  align-items: center;
}

p {
  padding: 0px 5px;
}
